<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create A New Password</title>
    <link rel="stylesheet" href="../css/main.css">
    <script>
        window.dataLayer = window.dataLayer || [];
    </script>
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <div class="header">
                <h2 class="header__title">New Password</h2>
            </div>
            <div class="alert error">
                <p class="alert__text">Please create a new password that you don't use on any other site.</p>
            </div>
            <form action="login.html" class="form" method="POST">
                <div class="form__input">
                    <label for="password" class="form__label">Password</label>
                    <i class="form__icon"><img src="assets/lock.svg" alt=""></i>
                    <input id="password" type="password" name="password" placeholder="Password" autocomplete="off" class="field password">
                </div>
                <div class="form__input">
                    <label for="re_password" class="form__label">Repeat Password</label>
                    <i class="form__icon"><img src="assets/lock.svg" alt=""></i>
                    <input id="re_password" type="password" name="re_password" placeholder="Repeat Password" autocomplete="off" class="field password">
                    <i class="form__icon eye"><img src="assets/eye-off.svg" alt=""></i>
                </div>
                <button class="btn" type="submit">Change</button>
            </form>
        </div>
    </div>

    <script src="js/new_password.js"></script>

</body>

</html>